.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Content .ui.menu:first-child {
    margin: 1rem 0;
    border-radius: 0;
}

.underline {
    text-decoration: underline;
}

.InfoContainer {
    margin: 7em 0 3em 0;
}

.InfoContainer .info-card{
    box-shadow: none!important;
}

.InfoContainer .info-text {
    font-size: 30px;
    padding-top: 2em;
    font-weight: 300;
}

.InfoContainer .info-card-right {
    padding: 2em 4em!important;
}

.InfoContainer .info-card-right .info-description {
    margin: 18px 0!important;
}

.Footer {
    padding-top: 5em!important;
}

@media (max-width: 768px) {
    .FilterMenu .ui.dropdown{
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    .InfoContainer {
        margin: 0;
    }
    .InfoContainer .info-card .info-text {
        font-size: 20px;
    }
    .InfoContainer .info-card-right .info-card-button {
        text-align: center;
    }
    .InfoContainer .info-card-right .info-card-button button {
        padding: 10px;
    }
    .Menu {
        position: relative!important;
    }
    .Menu .Search {
        padding: 10px 0;
    }
    .hidden-xs {
        display: none!important;
    }
    .Footer .footer-menu-one {
        display: block;
    }
    .Footer .footer-menu-one .item{
        display: inline-block!important;
    }
    .FilterMenu .subMenu {
        margin-left: 0!important;
    }
}
@media (min-width: 768px) {
    .Footer .footer-menu-one {
        display: none;
    }
    .FilterMenu .subMenu {
        margin-left: auto!important;
    }
    .FilterMenu .subMenu .item::before {
        right: auto;
        left: 0;
    }
}

@keyframes scroll-to-top {
    0% { transform: translateY(0); }
    50% { transform: translateY(0.35em); }
    100% { transform: translateY(0); }
}


.sticky-button {
    position: fixed;
    margin: 2em!important;
    bottom: 0;
    right: 0;
    animation: scroll-to-top 1.5s ease-in-out infinite;
    z-index: 6;
}

.copyright {
    font-size: 11px;
}

.footer {
    margin-top: 15px!important;
}

.footer .footer-select {
    background: transparent!important;
    color: #fff!important;
    border-color: rgba(234, 232, 234, 0.50)!important;
}

.footer .footer-select .default.text {
    color: #fff!important;
}

.footer-menu .ui.secondary.inverted.menu .dropdown.item:hover, .ui.secondary.inverted.menu .link.item:hover, .ui.secondary.inverted.menu a.item:hover {
    background: rgba(255,255,255,.0);
}

